.span8
  .row
  .span8{ style:'text-align: center' }
    = form_for Message.new, url: message_index_path, method: :post do |f|
      = f.hidden_field :user_id, value: current_user.id
      = f.hidden_field :room_id, value: @room.id
      = f.text_area :content, size:'500x3', style: 'resize: none'
      = f.button 'Envoyer', name: 'commit', type: 'submit', class: 'btn'
  - @messages.each do |msg|
    .row
      - position = msg.user_id == current_user.id ? 'left' : 'right'
      .span8{ style: "text-align: #{position}" }
        - if position == 'right'
          = msg.user.name + ' à écrit :'
          %br
        = msg.content
.span4
  - users = User.all.map { |u| [u.name, u.id] }
  - users.reject!{ |u|  @room.roomers.map(&:id).include? u[1] }
  %h3
    Invitations :
  = form_for RoomUser.new, url: room_room_user_index_path(@room), method: :post do |f|
    = f.select :user_id, users
    = f.button 'Inviter', name: 'commit', type: 'submit', class: 'btn'
  %h3
    Roomers :
  - @room.roomers.each do |user|
    %p= user.name
