!!!
%html
  %head
    %title PocMail
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    .container
      .row
        .span12
          .header
            - if current_user
              %ul.nav.nav-pills.pull-right
                %li
                  = link_to "Accueil", root_path
                %li
                  = link_to "Mon profil", user_path(current_user.id)
                %li
                  = link_to "Deconnexion", destroy_user_session_path, method: :delete
            - else
              %ul.nav.nav-pills.pull-right
                %li
                  = link_to "S'inscrire", new_user_registration_path, method: :get
                %li
                  = link_to "Se connecter", new_user_session_path, method: :get
            %h3.text-muted Project name
      .row
        = yield